@charset "UTF-8";

@use "../../foundation/mixin" as m;

.p-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    &--tit {
        font-size: 0.875rem;
        margin-bottom: 40px;
        font-weight: normal;
        margin-top: 40px;
    }
    &--text {
        padding-bottom: 25px;
    }
    &--text__list {
        width: 30%;
        @include m.mq(pc) {
            border: none;
        }
    }
    &--text__content {
        width: 70%;
        &__c {
            width: 70%;
            @include m.mq(pc) {
                width: 100%;
            }
        }
    }
    &--box {
        padding-top: 80px;
        margin-bottom: 160px;
        @include m.mq(pc) {
            padding: 3rem;
        }
    }
    @include m.mq(pc) {
        grid-template-columns: 1fr;
    }
}
