@charset "UTF-8";

@use "../../foundation/mixin" as m;

.p-sns {
    display: flex;
    gap: 10px;
    li a {
        font-size: rem(12);
        @include m.mq(pc) {
            margin-bottom: 0.1rem;
        }
    }
}
