@charset "UTF-8";

@use "../../foundation/mixin" as m;

.c-grid {
    display: grid;
    &__top {
        grid-template-columns: repeat(4, 1fr);
        gap: 2.1rem;
        margin-bottom: 40px;
        @include m.mq(pc) {
            grid-template-columns: repeat(2, 1fr);
            gap: 17.22px;
            padding: 3rem;
        }
    }
}
