@charset "UTF-8";

.c-inner {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0;
    &--top {
        padding-top: 80px;
        margin: 0 auto;
        padding: 80px 40px;
        max-width: 1360px;
    }
}
