@charset "UTF-8";
@use "../../foundation/mixin" as m;

.u-font-size {
    font-size: rem(16);
    &__14 {
        font-size: rem(14);
    }
    &--menu {
        font-size: 0.75rem;
    }
    &--sns {
        font-size: rem(12);
    }
}
