@charset "UTF-8";

@use "../foundation/mixin" as m;

footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    @include m.mq(pc) {
        flex-direction: column;
    }
}
