@charset "UTF-8";

@use "../foundation/mixin" as m;

footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    @include m.mq(pc) {
        flex-direction: column;
    }
}
.l-footer {
    max-width: 1360px;
    padding: 0;
    margin: 0 auto;
    &--top {
        padding-top: 80px;
        padding: 0 auto;
        margin: 0 auto;
        max-width: 1360px;
    }
}
